<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.ClassMapper">
    <resultMap id="classMap" type="me.n1ar4.jar.analyzer.entity.ClassResult">
        <result column="class_name" property="className"/>
        <result column="super_class_name" property="superClassName"/>
        <result column="jar_name" property="jarName"/>
        <result column="is_interface" property="isInterfaceInt"/>
    </resultMap>
    <insert id="insertClass" parameterType="ClassEntity">
        INSERT INTO class_table
        (jar_name, class_name, super_class_name, is_interface)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.jarName}, #{item.className}, #{item.superClassName}, #{item.isInterface})
        </foreach>
    </insert>
    <select id="selectClassByClassName" resultMap="classMap">
        SELECT DISTINCT c.class_name,
                        c.super_class_name,
                        c.jar_name,
                        c.is_interface
        FROM class_table c
        WHERE c.class_name = #{className}
    </select>
    <!-- 这个方法写的比较抽象 -->
    <!-- 因为要兼容之前的版本 且避免在 JAVA 层消耗过高 -->
    <!-- 本质是 查 CLASS 全名里面是否包含了某个字符串 -->
    <select id="includeClassByClassName">
        SELECT c.class_name
        FROM class_table c
        WHERE c.class_name LIKE '%${className}%'
          AND INSTR(REVERSE(c.class_name), '/') > INSTR(REVERSE(c.class_name), REVERSE('${className}'))
    </select>
    <select id="selectSuperClassesByClassName">
        SELECT DISTINCT c.super_class_name
        FROM class_table c
        WHERE c.class_name = #{className}
    </select>
    <select id="selectSubClassesByClassName">
        SELECT DISTINCT c.class_name
        FROM class_table c
        WHERE c.super_class_name = #{className}
    </select>
    <select id="selectJarByClass">
        SELECT DISTINCT jar_name
        FROM class_table
        WHERE class_name = #{className}
    </select>
</mapper>
