<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2023-2025 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.DFSMapper">
    <insert id="insertDFSResult">
        INSERT INTO dfs_result_table
        (
         source_class_name, source_method_name, source_method_desc,
         sink_class_name, sink_method_name, sink_method_desc,
         dfs_depth, dfs_mode, dfs_list_uid
        )
        VALUES
        (
         #{result.sourceClassName},
         #{result.sourceMethodName},
         #{result.sourceMethodDesc},
         #{result.sinkClassName},
         #{result.sinkMethodName},
         #{result.sinkMethodDesc},
         #{result.dfsDepth},
         #{result.dfsMode},
         #{result.dfsListUid}
        )
    </insert>
</mapper>