<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2023-2025 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.DFSListMapper">
    <insert id="insertDFSResultList">
        INSERT INTO dfs_result_list_table
        (dfs_list_uid, dfs_list_index, dfs_class_name, dfs_method_name, dfs_method_desc)
        VALUES
        (
         #{result.dfsListUid},
         #{result.dfsListIndex},
         #{result.dfsClassName},
         #{result.dfsMethodName},
         #{result.dfsMethodDesc}
        )
    </insert>
</mapper>