<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ MIT License
  ~
  ~ Copyright (c) 2023-2024 4ra1n (Jar Analyzer Team)
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  ~ SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.InitMapper">
    <update id="createJarTable">
        CREATE TABLE IF NOT EXISTS jar_table
        (
            jid INTEGER NOT NULL
            CONSTRAINT jar_table_pk PRIMARY KEY AUTOINCREMENT,
            jar_name TEXT NOT NULL,
            jar_abs_path TEXT NOT NULL
        );
    </update>
    <update id="createClassTable">
        CREATE TABLE IF NOT EXISTS class_table
        (
            cid INTEGER NOT NULL
            CONSTRAINT class_table_pk PRIMARY KEY AUTOINCREMENT,
            jar_name TEXT NOT NULL,
            class_name TEXT NOT NULL,
            super_class_name TEXT,
            is_interface INTEGER NOT NULL
        );
    </update>
    <update id="createClassFileTable">
        CREATE TABLE IF NOT EXISTS class_file_table
        (
            cf_id INTEGER NOT NULL
            CONSTRAINT class_table_pk PRIMARY KEY AUTOINCREMENT,
            class_name TEXT NOT NULL,
            path_str TEXT NOT NULL,
            jar_name TEXT NOT NULL
        );
    </update>
    <update id="createMemberTable">
        CREATE TABLE IF NOT EXISTS member_table
        (
            mid INTEGER NOT NULL
            CONSTRAINT member_table_pk PRIMARY KEY AUTOINCREMENT,
            member_name TEXT NOT NULL,
            modifiers INTEGER NOT NULL,
            type_class_name TEXT NOT NULL,
            class_name TEXT NOT NULL
        );
    </update>
    <update id="createMethodTable">
        CREATE TABLE IF NOT EXISTS method_table
        (
            method_id INTEGER NOT NULL
            CONSTRAINT method_table_pk PRIMARY KEY AUTOINCREMENT,
            method_name TEXT NOT NULL,
            method_desc TEXT NOT NULL,
            is_static INTEGER NOT NULL,
            class_name TEXT NOT NULL,
            access INTEGER NOT NULL,
            line_number INTEGER NOT NULL
        );
    </update>
    <update id="createAnnoTable">
        CREATE TABLE IF NOT EXISTS anno_table
        (
            anno_id INTEGER NOT NULL
            CONSTRAINT anno_table_pk PRIMARY KEY AUTOINCREMENT,
            anno_name TEXT NOT NULL,
            method_name TEXT,
            class_name TEXT
        );
    </update>
    <update id="createInterfaceTable">
        CREATE TABLE IF NOT EXISTS interface_table
        (
            iid INTEGER NOT NULL
            CONSTRAINT interface_table_pk PRIMARY KEY AUTOINCREMENT,
            interface_name TEXT NOT NULL,
            class_name TEXT NOT NULL
        );
    </update>
    <update id="createMethodCallTable">
        CREATE TABLE IF NOT EXISTS method_call_table
        (
            mc_id INTEGER NOT NULL
            CONSTRAINT method_call_table_pk PRIMARY KEY AUTOINCREMENT,
            caller_method_name TEXT NOT NULL,
            caller_class_name TEXT NOT NULL,
            caller_method_desc TEXT NOT NULL,
            callee_method_name TEXT NOT NULL,
            callee_method_desc TEXT NOT NULL,
            callee_class_name TEXT NOT NULL
        );
    </update>
    <update id="createMethodImplTable">
        CREATE TABLE IF NOT EXISTS method_impl_table
        (
            impl_id INTEGER NOT NULL
            CONSTRAINT method_impl_table_pk PRIMARY KEY AUTOINCREMENT,
            class_name TEXT NOT NULL,
            method_name TEXT NOT NULL,
            method_desc TEXT NOT NULL,
            impl_class_name TEXT NOT NULL
        );
    </update>
    <update id="createStringTable">
        CREATE TABLE IF NOT EXISTS string_table
        (
            sid INTEGER NOT NULL
            CONSTRAINT string_table_pk PRIMARY KEY AUTOINCREMENT,
            value TEXT NOT NULL,
            access INTEGER NOT NULL,
            method_desc TEXT NOT NULL,
            method_name TEXT NOT NULL,
            class_name TEXT NOT NULL,
            jar_name TEXT NOT NULL
        );
    </update>
    <update id="createSpringControllerTable">
        CREATE TABLE IF NOT EXISTS spring_controller_table
        (
            sc_id INTEGER
            CONSTRAINT spring_controller_table_pk PRIMARY KEY AUTOINCREMENT,
            class_name TEXT NOT NULL
        );
    </update>
    <update id="createSpringMappingTable">
        CREATE TABLE IF NOT EXISTS spring_method_table
        (
            sm_id INTEGER
            CONSTRAINT spring_method_table_pk PRIMARY KEY AUTOINCREMENT,
            class_name TEXT NOT NULL,
            method_name TEXT NOT NULL,
            method_desc TEXT NOT NULL,
            path TEXT NOT NULL
        );
    </update>
</mapper>