<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2023-2025 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.JarMapper">
    <insert id="insertJar" parameterType="JarEntity">
        INSERT INTO jar_table
        (jar_name, jar_abs_path)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.jarName}, #{item.jarAbsPath})
        </foreach>
    </insert>
    <select id="selectJarByAbsPath">
        SELECT jid, jar_name, jar_abs_path
        FROM jar_table
        WHERE jar_abs_path = #{jarAbsPath}
    </select>
    <select id="selectAllJars">
        SELECT DISTINCT jar_abs_path
        FROM jar_table
    </select>
</mapper>