<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2023-2024 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.core.mapper.MemberMapper">
    <resultMap id="memberMap" type="me.n1ar4.jar.analyzer.entity.MemberEntity">
        <result column="type_class_name" property="typeClassName"/>
        <result column="member_name" property="memberName"/>
        <result column="modifiers" property="modifiers"/>
        <result column="class_name" property="className"/>
    </resultMap>
    <insert id="insertMember" parameterType="MemberEntity">
        INSERT INTO member_table
        (member_name, modifiers, value, type_class_name, class_name)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.memberName}, #{item.modifiers}, #{item.value}, #{item.typeClassName}, #{item.className})
        </foreach>
    </insert>
    <select id="selectMembersByClass" resultMap="memberMap">
        SELECT DISTINCT member_name, modifiers, value, type_class_name
        FROM member_table
        WHERE class_name = #{className}
    </select>
    <select id="selectMembers" resultMap="memberMap">
        SELECT DISTINCT member_name, modifiers, value, type_class_name, class_name
        FROM member_table
    </select>
</mapper>