<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.n1ar4.jar.analyzer.db.mapper.SpringControllerMapper">
    <insert id="insertControllers">
        INSERT INTO spring_controller_table
        (class_name)
        VALUES
        <foreach collection="list" separator="," item="item">
            (#{item.className})
        </foreach>
    </insert>
</mapper>