<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ GPLv3 License
  ~
  ~ Copyright (c) 2023-2025 4ra1n (Jar Analyzer Team)
  ~
  ~ This project is distributed under the GPLv3 license.
  ~
  ~ https://github.com/jar-analyzer/jar-analyzer/blob/master/LICENSE
  -->

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <typeAliases>
        <package name="me.n1ar4.jar.analyzer.entity"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="me.n1ar4.jar.analyzer.mybatis.PrintSqlInterceptor"/>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="me.n1ar4.jar.analyzer.core.DBCPDataSourceFactory">
                <property name="driverClassName" value="${driver}"/>
                <property name="url" value="${url}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/InitMapper.xml"/>
        <mapper resource="mappers/JarMapper.xml"/>
        <mapper resource="mappers/ClassMapper.xml"/>
        <mapper resource="mappers/ClassFileMapper.xml"/>
        <mapper resource="mappers/MemberMapper.xml"/>
        <mapper resource="mappers/MethodMapper.xml"/>
        <mapper resource="mappers/AnnoMapper.xml"/>
        <mapper resource="mappers/InterfaceMapper.xml"/>
        <mapper resource="mappers/MethodCallMapper.xml"/>
        <mapper resource="mappers/MethodImplMapper.xml"/>
        <mapper resource="mappers/StringMapper.xml"/>
        <mapper resource="mappers/SpringControllerMapper.xml"/>
        <mapper resource="mappers/SpringInterceptorMapper.xml"/>
        <mapper resource="mappers/SpringMethodMapper.xml"/>
        <mapper resource="mappers/JavaWebMapper.xml"/>
        <mapper resource="mappers/SortedMethodMapper.xml"/>
        <mapper resource="mappers/CallGraphMapper.xml" />
    </mappers>
</configuration>