name: golang check

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  check:
    runs-on: ubuntu-latest
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v4
      - name: set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.10'
      - name: go test github
        run: |
          set -x
          cd github
          go mod download
          go build -o test
      - name: go test core mcp
        run: |
          set -x
          cd mcp/cmd/core
          go mod download
          go build -o test
      - name: go test report mcp
        run: |
          set -x
          cd mcp/cmd/report
          go mod download
          go build -o test